VUE_APP_firebase_apiKey=Xxx
VUE_APP_firebase_authDomain=xxx.firebaseapp.com
VUE_APP_firebase_databaseURL=https://xxx.firebaseio.com
VUE_APP_firebase_projectId=xxx
VUE_APP_firebase_storageBucket=xxx.appspot.com
VUE_APP_firebase_messagingSenderId=ddd
VUE_APP_firebase_appId=d:ddd:web:xxx
VUE_APP_firebase_measurementId=X-XXX
